* {margin:0; padding:0;}

body {font-family:Helvetica, Arial, sans-serif; font-size:12px; background:#FEFEFE;}
li {list-style:none;}
img {display:block; border:none;}
a {text-decoration:none; color:#000;}



.clear {clear:both;}

.left,
.mid,
a.moviesLink span.view,
a.moviesLink span.star {float:left; display:inline;}
.right {float:right; display:inline;}



.header {padding-top:80px; background:#212830 url("/love/ustc/ding.png") no-repeat center 0;}
.header_tip {border-top:1px solid #464646; line-height:33px; font-size:16px; text-align:center; color:#FF0;}



.movies {margin:0 auto;}
.slide {padding-top:0px;}

a.moviesLink {float:left; display:inline; overflow:hidden;}
.moviesCover {position:relative; width:100%;}
.moviesCover img {display:block; z-index:9; width:100%; height:auto;}
.moviesCover span,
.moviesCover em {position:absolute; bottom:7px; z-index:999; display:block; height:21px; line-height:20px; font-size:12px; color:#fff;}
.moviesCover span.play {left:7px; padding:0 10px 0 34px; background:#e72913; border:solid 1px #c60000; border-radius:2px;}
.moviesCover span.arrow {left:14px; bottom:11px; width:20px; height:15px; z-index:99999; background:url(../icons.png) no-repeat -16px 0;}
.moviesCover em {right:2px; width:38px; text-align:center;font-style: normal;}
.moviesCover em.bg {background:#737171; filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5;}

.moviesCover em.em1 {width:70px;}
a.moviesLink p {clear:both; overflow:hidden; height:25px; line-height:25px;}
a.moviesLink .status span {color:gray; height:17px; line-height:17px;}
a.moviesLink span.view {width:35%;}
a.moviesLink span.star {width:40px; margin-left:4px; background:url(../star.jpg) repeat-x 0 center;}

@media screen and (max-width: 320px) 
{
    a.moviesLink span.view { display:none;}
    .moviesCover img {display:block; z-index:9; width:100%; height:auto;}
}
em.player {width:100%; background: url(../player.png) no-repeat center; right:0; bottom:0; height:40px;position: relative;}
a.moviesLink {width:98%; margin:1% 1%;}
.movies a{ width:48%;}
.status{font-size:5pt; font-family:Microsoft Yahei; height: 17px;line-height: 17px;}
a.moviesLink p { font-size:8pt;  overflow:hidden;  }
a.moviesLink span.star {height:17px; line-height:17px; background: url(../star.jpg) repeat-x 0 3px;}
 /*
@media screen and (max-width: 600px) {
	a.moviesLink {width:98%; margin:1% 1%;}
}

@media screen and (min-width: 601px) {
	.movies {width:640px;}
	a.moviesLink {width:308px; margin:0 0 8px 8px;}
}   */

.slide a.moviesLink {width:98%; margin:1% 1%;}






.footer {background:#212830; text-align:center; padding-bottom:41px;}
.footer p {border-top:1px solid #464646; line-height:35px; color:#CCC;}


.footerDown {display:-webkit-box; padding:10px 10px 10px 0;}
.footerDown a {display:block; -webkit-box-flex:1; line-height:47px; margin-left:10px; background:#3480ff; border:2px solid #bcbcbc; border-radius:7px; color:#FF0; font-size:18px; font-weight:bold; text-align:center;}
.footerDown a.more {background:#EEE; color:#AAA;}





a.float {position:fixed; bottom:0; left:0; z-index:99999999; display:block; width:100%; height:50px; line-height:50px; background:#212830; border-top:1px solid #777; color:#FF0; font-size:16px; text-align:center;font-weight: bold;}
a.float span {color:#F00;}